# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
.idea/PhenopacketGenerator.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_protobuf_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_9_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jsonSchema_2_9_8.xml
.idea/libraries/Maven__com_github_ben_manes_caffeine_caffeine_2_6_2.xml
.idea/libraries/Maven__com_github_jsonld_java_jsonld_java_0_5_0.xml
.idea/libraries/Maven__com_github_jsonld_java_jsonld_java_sesame_0_5_1.xml
.idea/libraries/Maven__com_github_vsonnier_hppcrt_0_7_5.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_2.xml
.idea/libraries/Maven__com_io_informatics_oss_jackson_jsonld_0_0_5.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
.idea/libraries/Maven__com_squareup_protoparser_4_0_3.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_10.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_api_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_apibinding_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_compatibility_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_distribution_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_fixers_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_impl_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_oboformat_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_parsers_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_rio_4_5_6.xml
.idea/libraries/Maven__net_sourceforge_owlapi_owlapi_tools_4_5_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_7.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_cache_4_5_7.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_11_2.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
.idea/libraries/Maven__org_assertj_assertj_core_3_11_1.xml
.idea/libraries/Maven__org_controlsfx_controlsfx_8_40_12.xml
.idea/libraries/Maven__org_geneontology_obographs_0_1_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_jgrapht_jgrapht_core_1_2_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_4_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_4_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_4_1.xml
.idea/libraries/Maven__org_mockito_mockito_core_2_23_4.xml
.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_2_23_4.xml
.idea/libraries/Maven__org_monarchinitiative_hpotextmining_hpotextmining_core_0_2_7.xml
.idea/libraries/Maven__org_monarchinitiative_hpotextmining_hpotextmining_gui_0_2_7.xml
.idea/libraries/Maven__org_monarchinitiative_phenol_phenol_core_1_3_3.xml
.idea/libraries/Maven__org_monarchinitiative_phenol_phenol_io_1_3_3.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_model_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_api_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_binary_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_datatypes_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_languages_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_n3_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_nquads_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_ntriples_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_rdfjson_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_rdfxml_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_trig_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_trix_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_rio_turtle_2_7_16.xml
.idea/libraries/Maven__org_openrdf_sesame_sesame_util_2_7_16.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
.idea/libraries/Maven__org_prefixcommons_curie_util_0_0_2.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_1_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_1_5_RELEASE.xml
.idea/libraries/Maven
__org_springframework_spring_test_5_1_5_RELEASE.xml
.idea/libraries/Maven__org_tukaani_xz_1_6.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_6_2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target/classes/application.properties
target/classes/org/jax/phenopacketgenerator/Main.properties
target/classes/org/jax/phenopacketgenerator/Main_en_US.properties
target/classes/org/jax/phenopacketgenerator/gui/main.fxml
target/classes/phenopacketgenerator.css
target/generated-sources/
target/maven-status/
